.btn {
  height: 80px;
  background-color: black;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  outline: 1.5px solid #F3F0EB;
  outline-offset: -8px;
  transition: background-color 500ms ease;
 }
 
 .icon {
   color: #F3F0EB;
   translate: 0 2px;
 }
 
 .btn:hover {
   background-color: #F3F0EB;
   outline: 1.5px solid #000000;
 }
 
 .btn:hover .icon {
   color: #000000;
 }